.rectcontainer{
    border: 2px solid white;
    display: flex;
}

.fitem{
    background-color: white;
    border: 2px solid red;
    margin:2vw;
    width: 200px;
    height: 122px;
}
.squrecontainer{
    border: 2px solid white;
    display: flex;
    flex-flow: column;
}
.sitem{
    background-color: white;
    border: 2px solid red;
    margin:2vw;
    width: 122px;
    height: 122px;
}
